.appDiv{
    background-color: #161616;
}

/* Banner k-dramas/movies/myList */
.sc-cNKqjZ {
    margin-left: 160px;
    position: fixed;
    z-index: 2;
}
.sc-khQegj{
    color: white;
    font-weight: bold;
}
.emzeVC{
    border-bottom: 2px solid #E50914 !important;
}


/* Main picture */
.sc-AjmGg {
    padding-top: 50px !important;
}

/* Modal */
.sc-jJoQJp {
    background-color: rgba(0,0,0,0.7) !important;
    transition: background-color 1000ms linear !important;
}
.sc-ezbkAF {
    background-color: #161616 !important;
    margin-top:30px;
}


/* MODAL */
/* Modal: test id */
.sc-jJoQJp {
    background-color: rgba(0,0,0,0.7) !important;
    transition: background-color 1000ms linear !important;
}

/* Modal: test-button */
.sc-eCImPb {
    z-index: 1 !important;
    font-size: calc(100vw * 0.012) !important;
    padding:calc(100vw * 0.002) calc(100vw * 0.008) !important;
}
/* Modal:content */
.sc-kLwhqv {
    padding: 0px !important;
}
/* Modal: x button */
.sc-eCImPb {
    z-index: 1 !important;
    font-size: calc(100vw * 0.012) !important;
    padding:calc(100vw * 0.002) calc(100vw * 0.008) !important;
}








